@import './base.css';
@import './css/main-view.css';
@import './css/layout.css';
@import "./css/tour-view.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app, html, body {
  width: 100%;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}