/* photo-gallery-block styling */

.photo-gallery-block-container {
    display: flex;
    flex-direction: column;
    padding: 6%;
    background-color: #332f29;
    position: relative;
    height: 190dvh;
    max-width: 100%;
}

.main-photo-gallery-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    order: 0;
}

.main-photo-gallery-title {
    display: flex;
    flex-direction: row;
    width: 65%;    
    height: 100%;

    gap: 30px;
}

.main-photo-gallery-title img {
    object-fit: cover;
    width: 50%;
}

.main-pg-title-title-container {
    width: 50%;
}

.main-pg-title-title {
    color: #a2a6a1;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 3vw;
}

.main-pg-title-subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.pg-right-column-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 35vh;
    order: 2;
    right: 14%;
    width: 42%;
    height: 70%;
}

.pg-right-column-container img {
    object-fit: cover;
    width: 90%;
    height: 50%;
}

.pg-about-us-block {
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 12vh;
}

.pg-about-us-block img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    
}

.pg-about-us-text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg-about-us-text-block-main-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #a68053;
}

.pg-about-us-text-block .sm-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 13px;
    max-width: 80%;
    padding: 13px 20px;
    border-top: #a68053 2px solid;
    border-bottom: #a68053 2px solid;
}

.pg-about-us-text-block .sm-links a {
    width: 20%;
}

.pg-about-us-text-block .sm-links svg {
    width: 100%;
    height: 100%;
}

.pg-about-us-text-block-subtitle {
    color: #a68053;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    width: 80%;
}

.photo-gallery-block-container .third-pic {
    width: 28dvw;
    height: 28vw;
    object-fit: cover;
    margin-left: 8%;
    margin-top: 5%;
    border: 16px #a68053 solid;
    order: 3;
}

@media only screen and (max-width: 700px) {
    .pg-right-column-container {
        position: unset;
        margin-top: 40px;
        width: 70%;
    }

    .pg-second-pic {
        min-width: 100%;
    }

    .photo-gallery-block-container {
        height: auto;
        align-items: center;
    }

    .main-photo-gallery-title img {
        order: 1;
        width: 100%;
        height: 60%;
    }

    .main-pg-title-title {
        font-size: 30px;
    }

    .main-pg-title-title-container {
        width: 100%;
        height: 40%;
    }

    .main-photo-gallery-title {
        flex-direction: column;
        height: 500px;
    }


    .pg-about-us-block {
        padding: 0;
        margin-top: 20px;
        height: 200px;
    }

    .pg-about-us-text-block-main-title {
        font-size: 16px;
    }

    .pg-about-us-text-block .sm-links {
        gap: 7px;
        padding: 3px 4px;
    }

    .pg-about-us-text-block-subtitle {
        font-size: 12px;
    }

    .photo-gallery-block-container .third-pic {
        width: 80%;
    }
}