
/* previous-tours-block styling */

.previous-tours-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    max-width: 100%;
    background-color: #d9d9d9;
}

.prev-tours-cards-container {
    width: 100%;
    max-width: 1200px;
    height: 400px;
}

.previous-tours-container {
    display: flex;
    flex-direction: row;
    max-width: 300%;
    height: 100%;
    gap: 20px;
}

.previous-tour-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px;
    position: relative;
}

.previous-tour-card h2 {
    opacity: .6;
    margin-bottom: 25px;
}

.previous-tour-card a {
    position: absolute;

    top: 0;
    width: 100%;
    height: 100%;
}

.previous-tour-card img {
    object-fit: cover;
    width: 100%;
    height: 65%;
    margin-bottom: 10px;
}

.previous-tour-card-date {
    font-size: 14px;
    opacity: 0.3;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.previous-tour-card-title {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.previous-tours-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    font-size: 72px;
    margin-bottom: 30px;
    text-align: center;
    color: #616157;
}

@media only screen and (max-width: 900px) {
    .previous-tour-card {
        width: 280px;
    }

    .previous-tours-container {
        width: max-content;
    }

    .prev-tours-cards-container {
        overflow-x: scroll;
    } 
}